body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  letter-spacing: 0.2em;
  font-size: 0.8em;
  /* height: 120vh; */
  /* width: 100vw; */
}

.container {
  max-width: 400px;
}

form input::placeholder {
  text-align: center;
}

.icon {
  border-radius: 50%;
  transform: translateY(-50px);
}
